<div class="container" data-ng-app="samsa" data-ng-controller="login" id="login-container">
    <!-- <h3>Log in</h3> -->
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="email" class="form-control" placeholder="Email address" required="required"
                            autofocus="autofocus">
                        <label for="inputEmail">Email address</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="password" class="form-control" placeholder="Password" required="required">
                        <label for="inputPassword">Password</label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" ng-click="login($event)">Login</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" ng-href="#!/signup">Register an account</a>
            </div>
            <div class="text-center">
                <a class="d-block small mt-3" ng-href="#!/login" ng-click="resend($event)" >Resend verification email</a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resend-modal" tabindex="-1" role="dialog" aria-labelledby="resend-modal-label"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resend-modal-label">Resend verification email</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Please enter your email address to request the verification email:</div>
                <div class="modal-body"><input type="email" class="input-lg" id="resend-modal-input"></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" id="info-modal-cancel-button" >Cancel</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal" id="resend-modal-ok-button" ng-click="send($event)">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>