<div class="container" data-ng-app="samsa" data-ng-controller="purchase">
    <img id="loading-img" src="img/dual-ring-loader.svg" alt="loading...">
    <h1  id="invalid-purchase">Your link seems to be invalid. Please get in touch with your provider.</h1>
    <div style="text-align: center" id="valid-purchase" >
        <h1>Thank you for your purchase.</h1>
        <h3>Please log in or sign up to get access to your key.</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div >
                <div class="col-md-3">
                    <a class="btn btn-primary" href= "#!/login">Log In <i class="fas fa-fw fa-sign-in-alt"></i></a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3"><a class="btn btn-primary" href= "#!/signup"><i class="fas fa-fw fa-user-plus"></i> Sign Up </a></div>
                <div class="col-md-2"></div >
            </div>
        </div>
    </div>
    <div style="text-align: center" id="valid-purchase-internal" >
        <h1>Thank you for your purchase.</h1>
    </div>
</div>