<div>
    <form id="signinForm">
        <div class="row">
            <div class="col"><input type="email" id="emailInputSignin" autofocus/></div><div class="col"><label for="emailInputSignin">E-Mail</label></div>
        </div>
        <div class="row">
            <div class="col"><input type="password" id="passwordInputSignin"/></div><div class="col"><label for="passwordInputSignin">Password</label></div>
        </div>
        <div class="row">
            <div class="col"><input type="submit" value="Sign in" ng-click="handleSignin($event)"></div>
        </div>
    </form>
</div>
