<div class="container w-50 p-3" data-ng-app="samsa" data-ng-controller="index" id="index-container">
<h2 style="margin-bottom: 1em;">Welcome</h2>
<p>Welcome to the RealObjects subscription and account management system.</p>
<p>You can find your subscriptions by clicking on "Subscriptions" in the sidebar on the left. </p>
<p>If you have any questions, please do not hesitate to contact us:</p>
<div class="w-50 p-3 card">
        <div class="card-body">
            <p>RealObjects GmbH</p>
            <p><a href="mailto:support@realobjects.com"><i class="fa fa-envelope"></i> support@realobjects.com</a></p>
            <p><i class="fa fa-phone"></i> 0681 985790</p>
        </div>
    </div>
</div>